# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
[Bb]in/
[Oo]bj/

# NuGet
*.nupkg
# The packages folder can be ignored if you use package restore
**/packages/*
!**/packages/build/
!**/packages/repositories.config

# Database files
*.mdf
*.ldf
*db

# Others
*.log
*.DS_Store
*.idea/
*.vscode/